body{

    background-color: hsl(225, 23%, 24%);
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.switch{

    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

.switch input{

    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #808080;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:focus + .slider{
    box-shadow: 0 0 1px red;
    background: red; 
}

input:checked + .slider:before{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

.RemoveStyle{
    font-weight: bold;
    /* border:none; */
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 30px;
    background-color: transparent;
    border-color: white;
    color: white;
    border-width: 0.5px;
    
}

.RemoveStyle:hover{
    background-color: red;
    transition: .3s;
    -webkit-transition: .3s;
    -ms-transition: .3s;


}





.Adjustor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 13rem;
    
}

#Extension-Container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin: 50px auto;
    max-width: 900px;
}

.Extension-Card{
    background-color:hsl(225, 23%, 24%);
    padding: 40px;
    border-radius: 30px;
    border: 1px solid blue;


}
#TitleBar{
    padding-left: 200px;
}

#Extension-List-Header{
    padding-left: 200px;
}

.Extension-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2F45;
    border-radius: 12px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    
}
.logo-group{
    display: flex;
    align-items: center;
}

.theme-toggle{
    
}